<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="boat74">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.61112 0.31003 0.27048"
        rpy="0 0 0" />
      <!-- <mass
        value="74.643" /> -->
      <mass
        value="50" />
      <inertia
        ixx="4.9612"
        ixy="0.00014528"
        ixz="-1.1911"
        iyy="9.0816"
        iyz="-0.00022762"
        izz="6.5524" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://boat74/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>