<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="barge.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.002172 -0.033193 0.59469"
        rpy="0 0 0" />
      <mass
        value="1127700" />
      <inertia
        ixx="102910000"
        ixy="-41.14"
        ixz="-8.352"
        iyy="16103000"
        iyz="4084"
        izz="117480000" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://barge.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://barge.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>